.include-custom-font(@family: arial, @file: "", @weight: normal, @style: normal) {
  @font-face {
    font-family: @family;
    src: url('@{path-font}/fonts/@{file}/@{file}.eot');
    src: url('@{path-font}/fonts/@{file}/@{file}.eot?#iefix') format('embedded-opentype'),
    url('@{path-font}/fonts/@{file}/@{file}.woff') format('woff'),
    url('@{path-font}/fonts/@{file}/@{file}.ttf') format('truetype'),
    url('@{path-font}/fonts/@{file}/@{file}.svg#icon') format('svg');
    font-weight: @weight;
    font-style: @style;
  }
}

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;

  /*-moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;*/
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;

  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;

  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation: @name @duration @delay @ease;
  -ms-animation: @name @duration @delay @ease;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

.transform(@string) {
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
}

.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform: scale(@factor);
  -ms-transform: scale(@factor);
  -o-transform: scale(@factor);
}

.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
}

.skew (@deg, @deg2) {
  -webkit-transform: skew(@deg, @deg2);
  -moz-transform: skew(@deg, @deg2);
  -ms-transform: skew(@deg, @deg2);
  -o-transform: skew(@deg, @deg2);
}

.translate (@x, @y:0) {
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
}

.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform: translate3d(@x, @y, @z);
  -ms-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
}

.perspective (@value: 1000) {
  -webkit-perspective: @value;
  -moz-perspective: @value;
  -ms-perspective: @value;
  perspective: @value;
}

.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin: @x @y;
  -ms-transform-origin: @x @y;
  -o-transform-origin: @x @y;
}

.include-center-absolute(@left:0%,@top:0%) {
  .transform(translate(@left, @top));
}

.include-hover-animation(@time) {
  .transition(all @time ease);
}

.reset-hover-animation() {
  .transition(none);
}

.include-gradient-linear(@colorFrom, @colorTo, @fadeFrom: 0%) {
  background: -moz-linear-gradient(top, fade(@colorFrom,@fadeFrom) 0%, fade(@colorTo, 100%) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, fade(@colorFrom,@fadeFrom)), color-stop(100%, fade(@colorTo, 100%)));
  background: -webkit-linear-gradient(top, fade(@colorFrom,@fadeFrom) 0%, fade(@colorTo, 100%) 100%);
  background: -o-linear-gradient(top, fade(@colorFrom,@fadeFrom) 0%, fade(@colorTo, 100%) 100%);
  background: -ms-linear-gradient(top, fade(@colorFrom,@fadeFrom) 0%, fade(@colorTo, 100%) 100%);
  background: linear-gradient(to bottom, fade(@colorFrom,@fadeFrom) 0%, fade(@colorTo, 100%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{colorFrom}', endColorstr='@{colorTo}', GradientType=0);
}

.include-gradient-radius(@colorFrom, @colorTo, @stop:100%, @start: 0%, @colorFromIntensity: 0%,@colorToIntensity: 100% ) {
  background: -moz-radial-gradient(center, ellipse cover, fade(@colorFrom, @colorFromIntensity) @start, fade(@colorTo, @colorToIntensity) @stop);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(@start, fade(@colorFrom, @colorFromIntensity)), color-stop(@stop, fade(@colorTo,@colorToIntensity)));
  background: -webkit-radial-gradient(center, ellipse cover, fade(@colorFrom, @colorFromIntensity) @start, fade(@colorTo, @colorToIntensity) @stop);
  background: -o-radial-gradient(center, ellipse cover, fade(@colorFrom, @colorFromIntensity) @start, fade(@colorTo, @colorToIntensity) @stop);
  background: -ms-radial-gradient(center, ellipse cover, fade(@colorFrom, @colorFromIntensity) @start, fade(@colorTo, @colorToIntensity) @stop);
  background: radial-gradient(ellipse at center, fade(@colorFrom, @colorFromIntensity) @start, fade(@colorTo, @colorToIntensity) @stop);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{colorFrom}', endColorstr='@{colorTo}', GradientType=1);
}

.blur(@radius) {
  filter: blur(@radius);
  -webkit-filter: blur(@radius);
  -moz-filter: blur(@radius);
  -o-filter: blur(@radius);
  -ms-filter: blur(@radius);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='@{radius}');
}

.generateColor(@counter) when (@counter > 0) {
  .generateColor((@counter - 1)); // next iteration
  .color-@{counter} {
    @color: "color-@{counter}";
    color: @@color !important;
  }
}

.generateFontWeight(@counter) when (@counter > 0) {
  .generateFontWeight((@counter - 1)); // next iteration
  @name: @counter*100;
  .font-weight-@{name} {
    font-weight: @name !important;
  }
}