{% extends "base.html.twig" %}

{% block body %}
    <header>
        <div class="container">
            <h1>
                <span class="text">{{ prihlaseny }}</span>
                <small> | <a href="{{ path("odhlaseni") }}">Odhlásit</a></small>
            </h1>
        </div>
    </header>

    <main>
        <div class="container">
            {% if jePedagog %}
                <div class="predmety">
                    <h2>Vaše předměty:</h2>
                    {% for predmet in prihlaseny.predmety %}
                        <div class="predmet">
                            <h3>
                                <span class="text">{{ predmet.nazev }}</span>
                                <small> | <a href="{{ path("pridej_termin", {id:predmet.id}) }}">Přidej termín</a></small>
                            </h3>
                            {#<h4>Vypsané termíny:</h4>#}
                            <ul>
                                {% for termin in predmet.getVypsanyTermin() %}
                                    <li>
                                        {{ termin.datumCas|date("d.m.Y - H:i") }}
                                        <a href="{{ path("smaz_termin", {id:termin.id}) }}" class="btn-danger">Smazat</a>
                                        <a href="{{ path("uprav_termin",{id:termin.id}) }}">Upravit</a>
                                        <div class="pozn">{{ termin.poznamka }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
            <div class="predmety">
                <h2>Vaše předměty:</h2>
                {% for predmet in prihlaseny.predmety %}
                    <div class="predmet">
                        <h3>
                            {{ predmet.nazev }}
                        </h3>
                        {#<h4>Mozne terminy zkousky:</h4>#}
                        <ul>
                            {% for termin in predmet.getVypsanyTermin() %}
                                <li>
                                    {{ termin.datumCas|date("d.m.Y - H:i") }}
                                    {% set zapsanyTermin = termin.jeStudentZapsany(prihlaseny) %}
                                    {% if zapsanyTermin is not null %}
                                        <a href="{{ path("odhlas_termin",{id:zapsanyTermin.id}) }}" class="btn-danger">Odhlasit se</a>
                                    {% else %}
                                        <a href="{{ path("prihlas_se_na_termin", {id:termin.id}) }}" class="btn-success">Prihlasit se</a>
                                    {% endif %}
                                    <div class="pozn">{{ termin.poznamka }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </main>

{% endblock %}