{% extends "base.html.twig" %}

{% block body %}
    {% if zprava is not null %}
        {{ zprava }}
    {% endif %}
    <div class="login">
        <h1>Portál školy</h1>
        {{ form(prihlasovaciForm) }}
    </div>
{% endblock %}