{% extends "base.html.twig" %}

{% block body %}
    <header>
        <div class="container">
            <h1>
                <span class="text">Termín zkoušky</span>
                <small> | <a href="{{ path("hlavni_stranka") }}">Hlavní stránka</a></small>
            </h1>
        </div>
    </header>
    <main>
        <div class="container">
            {{ form(form) }}
        </div>
    </main>
{% endblock %}