@import "components/normalize";
@import "components/reboot";
@import "components/flex";
@import "components/mixins";
.transform(@string) {
  -webkit-transform: @string;
  -moz-transform: @string;
  -ms-transform: @string;
  -o-transform: @string;
  transform: @string;
}
.clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@path-img:  "../img";
* {
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  text-size-adjust:none;
}
html {
  min-height: 100%;
  position: relative;
}
.container {
  max-width: 1000px;
  margin: auto;
}
a {
  color: #1F3A93;
}
header {
  background-color: rgba(0, 174, 239, .1);
  padding: 10px;
  color: #1F3A93;
  a {
    font-size: 0.8em;
    color: currentColor;
  }
}
main {
  padding: 10px;
}
h2 {
  color: #1f3a93;
  font-size: 35px;
  font-weight: 700;
  border-bottom: solid 2px #d1d1d1;
}
h3 {
  font-size: 30px;
  color: #1f3a93;
  font-weight: 700;
  line-height: 20px;
  border-left: 5px solid #00aeef;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  a {
    font-size: 0.8em;
    color: currentColor;
  }
}
ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 10px;
}
li {
  a {
    display: inline-block;
    background: #1f3a93;
    padding: 5px;
    color: #fff;
    border: solid 1px #1f3a93;
  }
  .pozn {
    padding-left: 10px;
    &:before {
      content: "-";
      padding-right: 10px;
    }
  }
}
.predmet {
  border-bottom: solid 1px #d1d1d1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.btn-success {
  background: #8BC34A;
  border-color: #8BC34A;
}
.btn-danger {
  background: #f44336;
  border-color: #f44336;
}
label {
  display: block;
  padding: 10px 0 5px;
  font-weight: bold;
  font-size: 18px;
  + div {
    > div {
      display: inline-block;
      &:first-child {
        margin-right: 10px;
        &:after {
          content: '-';
          padding-left: 10px;
        }
      }
    }
  }
}
button {
  display: inline-block;
  background: #1f3a93;
  padding: 5px 10px;
  color: #fff;
  border: solid 1px #1f3a93;
  margin-top: 20px;
  font-size: 20px;
}
.login {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px #1f3a93;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  input {
    width: 100%;
  }
  label {
    text-align: left;
  }
}